<meta charset="UTF-8">
<p>Bonjour, <%= @user.name %></p>
<p>Nous avons bien recu votre commande N°<%= @order.id %>.</p>
<p>Voici le détail: </p>
<% @order.items.each do |item| %>
  <p><%= item.title %></p>
  <% end %>
<p>Rendez vous dans votre profile pour téléchargez vos images</p>
<p>A bientôt,</p>