<main class="body-wrap">
    <!-- Header -->
    <div class="header">
    <!-- Top Bar -->

    <!-- Global Search -->
    <section id="sctGlobalSearch" class="global-search global-search-overlay">
    <div class="container">
        <div class="global-search-backdrop mask-dark--style-2"></div>

        <!-- Search form -->
        <form class="form-horizontal form-global-search z-depth-2-top" role="form">
            <div class="px-4">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="search-input" placeholder="Type and hit enter ...">
                    </div>
                </div>
            </div>
            <a href="#" class="close-search" data-toggle="global-search" title="Close search bar"></a>
        </form>
    </div>
</section>


<section class="parallax-section parallax-section-lg border-bottom" style="background-image: url('');">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="row py-5">
                                        <div class="col-lg-6 col-md-8">
                                            <h1 class="heading heading-1 strong-400 text-normal">
                                                Shop
                                            </h1>

                                            <span class="clearfix"></span>

                                            <div class="lead mt-3 mb-3">
                                                Acheter des oeuvres, contribuer au travail d'un artiste
                                            </div>

                                            <span class="short-delimiter--style-1 mb-4"></span>

                                            <div class="btn-container">
                                                <a href="elements.html" class="btn btn-styled btn-base-1">Shop now !</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                        <div class="container">
                            <div class="row align-items-center mb-4">
                                <div class="col-md-6">
                                    <div class="text-center text-md-left">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                            Product list
                                        </h3>
                                    </div>
                                </div>
                            </div>

                            <div class="row-wrapper">
                                <div class="row cols-xs-space cols-md-space cols-md-space">
                                    <%= @items.each do |item| %>
                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                   <%= link_to (image_tag item.image_url), item %>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <%= link_to item.title, item %>
                                                </h3>
                                                <div class="product-colors text-center mt-2">

                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500"><span class="price-value"><%= item.price %></span></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                          </div>
                    </div>
              </div>
          </div>
  </section>
</main>
