    <main class="body-wrap">
    <!-- Header -->
    <div class="header">
    <!-- Top Bar -->
    
    <!-- Global Search -->
    <section id="sctGlobalSearch" class="global-search global-search-overlay">
    <div class="container">
        <div class="global-search-backdrop mask-dark--style-2"></div>

        <!-- Search form -->
        <form class="form-horizontal form-global-search z-depth-2-top" role="form">
            <div class="px-4">
                <div class="row">
                    <div class="col-12">
                        <input type="text" class="search-input" placeholder="Type and hit enter ...">
                    </div>
                </div>
            </div>
            <a href="#" class="close-search" data-toggle="global-search" title="Close search bar"></a>
        </form>
    </div>
</section>



    <section class="background-image-holder">
        <div class="holder-item has-bg-cover bg-size-cover" style="background-image: url(assets/images/backgrounds/slider/img-41.jpg); background-position: left center;">
            <span class="mask bg-base-1 alpha-7"></span>
            <div class="container slice-lg slice--offset-top">
                <div class="row cols-xs-space align-items-center text-center text-md-left justify-content-center">
                    <div class="col-lg-7">
                        <div class="text-center mt-5">
                            <img src="assets/images/logo/icon.png" style="width: 200px;" class="img-fluid">
                            <h2 class="heading display-3 font-weight-400 text-white mt-4 mb-0">
                                <span class="font-weight-700">Boomerang</span>
                            </h2>
							<h2 class="heading heading-3 font-weight-400 text-white">
                                <span class="font-weight-700">Multipurpose Bootstrap Theme</span>
                            </h2>
                            <p class="text-lg text-white mt-3 lh-180 c-white mt-4">
                                Boomerang is an innovative HTML template solution based on Bootstrap 4 built with modular components that makes it reusable and easy to work on.
                            </p>
							<a href="#" class="btn btn-styled btn-white btn-circle mt-4" data-scroll-to="#scroll_section">Start exploring</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                        <div class="container">
                            <div class="row align-items-center mb-4">
                                <div class="col-md-6">
                                    <div class="text-center text-md-left">
                                        <h3 class="heading heading-4 strong-600 text-capitalize">
                                            Product list
                                        </h3>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="text-center text-md-right">
                                        <ul class="inline-links">
                                            <li>
                                                <a href="#" class="active">All</a>
                                            </li>
                                            <li>
                                                <a href="#">Shoes</a>
                                            </li>
                                            <li>
                                                <a href="#">Shirts</a>
                                            </li>
                                            <li>
                                                <a href="#">Leggings</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row-wrapper">
                                <div class="row cols-xs-space cols-md-space cols-md-space">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-1a.png" class="img-center">
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Women's running shoes
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">120.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-2a.png" class="img-center">
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-red text-uppercase">Sale</span>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Women's short top
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-black"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-orange"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">
                                                        $<span class="price-value">45.00</span>
                                                        <small class="c-red">(20% off)</small>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-3a.png" class="img-center">
                                                </a>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Men's fitness shoes
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-black"></a>
                                                        <a href="#" class="bg-red"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">180.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-4a.png" class="img-center">
                                                </a>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Men's fitness top
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-blue"></a>
                                                        <a href="#" class="bg-teal-blue"></a>
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-green"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">55.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row cols-xs-space cols-md-space cols-md-space">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-5a.png" class="img-center">
                                                </a>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Women's running shoes
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">120.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-6a.png" class="img-center">
                                                </a>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Women's short top
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-black"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-orange"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">
                                                        $<span class="price-value">45.00</span>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-7a.png" class="img-center">
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-red text-uppercase">Sale</span>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Men's fitness shoes
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-black"></a>
                                                        <a href="#" class="bg-red"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">
                                                        $<span class="price-value">180.00</span>
                                                        <small class="c-red">(20% off)</small>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-8a.png" class="img-center">
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Men's fitness top
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-blue"></a>
                                                        <a href="#" class="bg-teal-blue"></a>
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-green"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">55.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row cols-xs-space cols-md-space cols-md-space">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-1a.png" class="img-center">
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Women's running shoes
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">120.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-2a.png" class="img-center">
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-red text-uppercase">Sale</span>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Women's short top
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-black"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-orange"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">
                                                        $<span class="price-value">45.00</span>
                                                        <small class="c-red">(20% off)</small>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-3a.png" class="img-center">
                                                </a>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Men's fitness shoes
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-black"></a>
                                                        <a href="#" class="bg-red"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">180.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-4a.png" class="img-center">
                                                </a>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Men's fitness top
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-blue"></a>
                                                        <a href="#" class="bg-teal-blue"></a>
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-green"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">55.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row cols-xs-space cols-md-space cols-md-space">
                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-5a.png" class="img-center">
                                                </a>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Women's running shoes
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-blue"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">120.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-6a.png" class="img-center">
                                                </a>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Women's short top
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-black"></a>
                                                        <a href="#" class="bg-pink"></a>
                                                        <a href="#" class="bg-orange"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">
                                                        $<span class="price-value">45.00</span>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-7a.png" class="img-center">
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-red text-uppercase">Sale</span>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Men's fitness shoes
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-black"></a>
                                                        <a href="#" class="bg-red"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">
                                                        $<span class="price-value">180.00</span>
                                                        <small class="c-red">(20% off)</small>
                                                    </span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-3 col-md-6">
                                        <div class="block product no-border z-depth-2--hover">
                                            <div class="block-image">
                                                <a href="#">
                                                    <img src="../../assets/images/prv/shop/sportswear/img-8a.png" class="img-center">
                                                </a>
                                                <span class="product-ribbon product-ribbon-right product-ribbon--style-1 bg-blue text-uppercase">New</span>
                                            </div>

                                            <div class="block-body pt-0 text-center">
                                                <h3 class="heading heading-6 strong-500 text-capitalize">
                                                    <a href="#">
                                                        Men's fitness top
                                                    </a>
                                                </h3>
                                                <div class="product-colors text-center mt-2">
                                                    <div class="color-switch float-wrapper">
                                                        <a href="#" class="bg-blue"></a>
                                                        <a href="#" class="bg-teal-blue"></a>
                                                        <a href="#" class="bg-purple"></a>
                                                        <a href="#" class="bg-green"></a>
                                                    </div>
                                                </div>
                                                <div class="price-wrapper mt-2">
                                                    <span class="price heading-6 c-gray-dark strong-500">$<span class="price-value">55.00</span></span>
                                                </div>
                                            </div>

                                            <div class="product-actions--a product-actions--3" data-animation-in="slideInLeft"  data-animation-out="slideOutLeft">
                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-bag"></i>
                                                </button>

                                                <button type="button" class="btn-product-action">
                                                    <i class="ion-ios-heart-outline"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pagination -->
                            <div class="pagination-wrapper d-flex justify-content-center pt-4">
                                <ul class="pagination pagination--style-3">
                                    <li class="page-item disabled">
                                        <a href="#" class="page-link"></a>
                                    </li>
                                    <li class="page-item active">
                                        <a href="#" class="page-link" aria-label="Previous">1</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">2</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">3</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">4</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link">5</a>
                                    </li>
                                    <li class="page-item">
                                        <a href="#" class="page-link"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>



  
   
</main>