<!-- SHOP GRID WRAPPER -->
                    <section class="slice sct-color-2">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-5">
                                    <!-- Product gallery -->
                                    <div class="gallery-container">
                                        <div id="slideshow" class="gallery-top no-padding bg-transparent"></div>
                                        <div id="slideshow_thumbs" class="swiper-js-container gallery-thumbs gallery-thumbs--style-1 mt-4">
                                            <div class="swiper-container" data-swiper-items="5" data-swiper-space-between="10" data-swiper-xs-items="3" data-swiper-xs-space-between="10" data-swiper-sm-items="4" data-swiper-sm-space-between="10">
                                                <div class="swiper-wrapper">
                                                    <div class="block-image">
                                                        <%= link_to image_tag @item.image_url, :class =>"img-fluid" %> 
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-7">
                                    <div class="px-4">
                                        <!-- Product description -->
                                        <div class="product-description-wrapper">
                                            <!-- Product title -->
                                            <h2 class="product-title heading heading-3 strong-400 text-capitalize">
                                                <%= @item.title %>
                                            </h2>

                                            <hr>

                                            <!-- Product description -->
                                            <div class="product-short-text mt-4">
                                                <h3 class="heading heading-xs strong-500 text-uppercase">
                                                    Description:
                                                </h3>
                                                <p>
                                                    <%= @item.long_description %>
                                                </p>
                                            </div>

                                            <!-- Price tag -->
                                            <div class="product-price py-3">$<strong><%= @item.price_cents%></strong></div>

                                            <form class="form-horizontal">

                                                <!-- Quantity + Add to cart -->
                                                <label class="text-uppercase strong-600">Quantity</label>
                                                <div class="row">
                                                    <div class="col-4">
                                                        <!-- Plus-Minus control -->
                                                        <div class="form-group">
                                                            <input type="number" class="form-control form-control-lg" value="1">
                                                        </div>

                                                        <!-- Add to cart button -->
                                                        <button type="button" class="btn btn-styled btn-lg btn-block btn-base-1 btn-cart mt-2">
                                                            Add to cart
                                                        </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <span class="space-xs-lg"></span>

                    
                        </div>
                    </section>
