<footer id="footer" class="footer footer-inverse">
    <div class="footer-bottom py-4">
        <div class="container">
            <div class="row cols-xs-space col-sm-space align-items-center">
                <div class="col-lg-1">
                    <div class="text-center">
                        <ul class="footer-menu footer-menu-sm">
                            <li>
                                <a href="/" style="padding-left: 0;">Home</a>
                            </li>
                            <li>
                                <a href="/about">About</a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>